.fira-sans-thin {
    font-family: "Fira Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: 
    "width" 100;
    background-color: #F1F1F3;
}
*{
    margin:0px;
    padding:0px;
}

/* nav style */
.nav{
     display: flex;
     align-items: center;
     margin: 31px auto;
     justify-content:space-between;
     width: 1280px;
     
}
.nav-head{
    font-size: 32px;
    font-weight: bold;
    color: #0E0E0E ;
    
    
}
.nav-btn{
    font-size:18px ;
    font-weight: 600 ;
    color: #006A50 ;
    border-radius: 8px;
    padding: 15px 30px;
    background-color: white;
    border: 1px solid #006A50;
    
    
}
/* banner style */
.banner{
    background-color:#C6E4D6;
    margin: 2px auto;
    display: flex;
    border-radius: 24px;
     justify-content :space-around ;
    height: 560px;
    align-items: center;
    width: 1280px;
}

.banner-subtitle{
    font-size: 24px;
    font-weight: 500;
    color: rgba(14, 14, 14, 50%);
     margin-bottom: 16px;
   
}
.banner-title{
    font-size: 56px;
    font-weight:bold;
    color:#0E0E0E;
    margin-bottom: 26px;

}
.banner-btn{
    font-size:16px ;
    font-weight: 600 ;
    color: white ;
    border-radius: 8px;
    padding: 15px 30px;
    background-color: #006A50;
    border: 0px solid #006A50;
    
}
.image{
    display: flex;
    height: 400px;
    width: 400px;
    margin-right: 60px;
}
.duddu{
    height: 400px;
    width: 400px;
}
/* card style */
#card-box{
    width: 1280px;
    background-color: #F1F1F3 ;
    margin: 80px auto;
    height: 324px;
 
}
.card-head{
    font-weight: bold;
    font-size: 24px;
    color: #0E0E0E;
    margin-bottom: 32px;
    
}
.card-Basic{
   
    width: 302px;
    height: 244px;
    background-color:#FFFFFF;
    border-radius: 16px;
    border: 1px solid #D5D6D8;
    

}
.card-image{
   margin:  0px;
   padding: 24px;
}
.card-title{
    margin-left: 24px;
    margin-bottom: 14px;
    font-size: 16px;
    font-weight: bold;
    color:rgba(14, 14, 14, 80%)
    
}
.card-para{
    font-size: 16px;
    font-weight: 400;
    color: rgba(14, 14, 14, 70%);
    line-height: 20px;
    margin-left: 24px;
}
.all-card{
    display: flex;
    justify-content: space-between;
}
/* future section style */
.future{
    width: 1280px;
    /* background-color: aqua; */
    margin: 80px auto;
}
.future-title{
    font-size: 32px;
    font-weight: bold;
    color: #0E0E0E;
    margin-bottom: 24px;
}
.future-para{
    font-size: 14px;
    font-weight: 400;
    color: rgba(14, 14, 14, 70%);
    margin-bottom: 32px ;
}
/* card style future */
.future-Basic{
    width: 390px;
    height: 280px;
    background-color:rgb(84, 144, 245, 20%);
    border-radius: 16px;
    border: 1px ;
    
}

.future-card-image{
    margin:  0px;
   padding: 24px;
}


.future-card-title{
    margin-left: 24px;
    margin-bottom: 14px;
    font-size: 16px;
    font-weight: bold;
    color:rgba(14, 14, 14, 80%)

}
.future-card-para{
    font-size: 15px;
    font-weight: 400;
    color: rgba(14, 14, 14, 70%);
    line-height: 20px;
    margin-left: 24px;
    margin-bottom: 18px;
}
.future-btn{
    padding: 11PX 20px;
    font-size: 13px;
    font-weight: 600;
    color: #FFFFFF;
    background-color: #5490F5;
    margin-left: 24px;
    border-radius: 8px;
    border: none;

}
.future-card{
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
}
.future-last{
    width: 1280px;
    height: 226px;
    background-color:#FFFFFF;
    border-radius: 16px;
    border: 1px solid #D5D6D8;
    

}
.yunus-para{
    color: rgba(14, 14, 14, 80%);
    font-size: 15px;
    font-weight: 400;
    margin-top: 40px;
    margin-left: 24px;
    line-height: 24px;
    background-image:  url("../assets/quote-bg.png");
    background-repeat: no-repeat;
    background-origin: padding-box;
    
}
.future-yunus{
    margin-left: 24px;
    margin-top: 12px;
    font-size: 20px;
    font-weight: 600;
    color: rgba(14, 14, 14, 80%);
}
.yunus-title{
    margin-left: 24px;
    margin-bottom: 7px;
    font-size:14px;
    font-weight: 400;
    color: rgba(14, 14, 14, 60%);
}
/* your matter style */
.matter{
    width: 1280px;
    height: 481px;
   
    margin: 80px auto;
   
}
.matter-head{
    color: #0E0E0E;
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 20px;
   
}
.matter-box{
    background-color: #006A50;
    width: 1280px; 
    height: 409px;
    border-radius: 18px;
   
}
.table {
    border-collapse: collapse;

}
.table th,  td {
    border: 2px solid white;


}
.table th {
    /* border-collapse: collapse; */
}



/* recent section style */
#recent{
    width: 1280px;
    height: 1406px;
    margin: 80px auto;
}
.recent-head{
    font-size:35px;
    color: #0E0E0E;
    font-weight: bold;
    margin-bottom: 24px;
}
.recenet-para{
    font-size: 15px;
    color: rgba(14, 14, 14, 70%);
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 32px;
}
.all-recent{
    background-color: #FFFFFF;
    border-radius: 18px;
    display: flex;
    width: 1280px;
    height: 402px;
    
   
}
.satelight-image  img{
    width: 408px;
    height: 306px;
    margin: 48px;
    margin-left: 48px;
    border-radius: 18px;
    
}
.recent-right{
    display: flex;
    flex-direction: column;
    
    
}
.satelite-head{
    font-size: 30px;
    font-weight: bold;
    color: rgba(14, 14, 14, 80%);
    margin-top: 48px;
    margin-bottom: 15px;
}
.al{
    margin-bottom: 22px;
}
.time{
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: 400;
    color: rgba(14, 14, 14, 70%);

}
.sec-para{
    margin-bottom: 32px;
    font-size: 16px;
    font-weight: 400;
    color: rgba(14, 14, 14, 70%);
    line-height: 24px;


}
.recent-btn{
    padding: 11PX 20px;
    font-size: 13px;
    font-weight: 600;
    color: #FFFFFF;
    background-color:#006A50;
    /* margin-left: 24px; */
    border-radius: 8px;
    border: none;
    

}
/* second card style */
.sec-card{
    width: 1280px;
    height:402px;
    background-color: #FFFFFF; 
    margin-top: 24px;
    border-radius: 18px;    
}
.card-maintain{
    margin-left: 48px;
    display: flex;
}  
.sec-image img{
    display: flex;
    width: 408px;
    height: 306px;
    margin: 48px 48px;
    border-radius: 18px;
} 
.third-card{
    margin-top: 24px;
}
/* taka section style */
.dibaaa{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#taka{
    width: 1280px;
    margin: 80px auto;
    height: 464px;
    /* background-color: #5490F5; */

}
.taka-head{
    font-size: 35px;
    font-weight: bold;
    color: #0E0E0E;
    /* margin-bottom: 24px; */
}
.taka-para{
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: rgba(14, 14, 14, 70%);
    /* margin-bottom: 32px; */
    margin:32px 120px;
}
.btn-div .btn-main{
    /* margin-right: 24px; */
}
.btn-main{
    color: rgba(14, 14, 14, 80%);
    font-size: 35px;
    font-weight: bold;
    border-radius: 14px;
    padding: 32px 32px;
    background-color: #FFFFFF;
    /* border: 1px solid rgba(14, 14, 14, 50%); */
    border: none;
    margin-bottom: 32px;
    margin-right: 24px;
    

}
.input-doc input{
    background-color:#FFFFFF;
    width: 770px;
    height: 50px;
    font-size: 15px;
    font-weight: 400;
    color: rgba(14, 14, 14, 30%);
    text-align: center;
    border: none;
    margin-bottom: 32px;

    
}
.btn-last{
    background-color: #006A50;
    font-size: 18px;
    font-weight:500;
    color: #FFFFFF;
    padding: 12px 25px ;
    border: none;
    border-radius: 8px;

}



